.daily-times {
  margin-left: 15px;
}

.top-border {
  border-bottom: 5px solid black;
  margin: 10px 0;
}

.save-buttons {
  margin: 3px 0;
}

.main-border {
  border-bottom: 1px solid black;
  margin: 3px 0;
}

.text-notes :hover {
  background-color: rgb(138, 215, 218);
}