
*, :after, :before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

input {
  transition: background-color 0.4s;
  color: black;
}

.top-border {
  border-bottom: 5px solid black;
  margin: 10px 0;
}

.main-border {
  border-bottom: 1px solid black;
  margin: 3px 0;
}

.daily-times {
  margin-left: 15px;
}

.text-notes :hover {
  background-color: rgb(138, 215, 218);
}





